/* CSS de cabecera */
#cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #090a0b;
  padding: 10px;
}
#cab-right {
  display:flex;
}
.logo-cabecera {
  width: 70px;
  display: flex;
  justify-content: flex-end;
}

.navbar-links {
  display: flex;
}

.navbar-links .nav-link {
  color: white;
  margin-left: 10px;
  text-decoration: none;
}
/* CSS HomePage */
#homepage {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Opcional: ajusta la altura del contenedor al 100% del viewport */
}
.logo{
  width: 250px;
  
}
.centered-text {
  text-align: center;
}

.bold-font {
  font-weight: bold;
  font-family: Candara, sans-serif; /* Cambia el estilo de la fuente según tus preferencias */
}

/* CSS Añade negocio */

#añadenegocio {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Opcional: ajusta la altura del contenedor al 100% del viewport */
}
/* CSS  Registro */

.register-container{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Opcional: ajusta la altura del contenedor al 100% del viewport */
}

/* CSS Login */

.login-container{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Opcional: ajusta la altura del contenedor al 100% del viewport */
}

/* CSS reseñas */

.toggle-menu {
 z-index: 0;
}

.menu {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-right: 1100px;
}

.menu li {
  margin-bottom: 5px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  list-style: none; /* Elimina los puntos negros de la lista */
}


.marker {
  background-image: url('C:\Users\ignac\ISST-19-Mascotmercio-React\public\mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

#map {
  width: 100%; /* El mapa ocupará todo el espacio disponible en el contenedor */
  height: 100%; /* El mapa ocupará todo el espacio disponible en el contenedor */
}

/* Aplicar el margen izquierdo cuando el menú esté abierto */
.menu-abierto #map {
  margin-left: 200px;
}

#map-container {
  position: fixed;
  top: 200px;
  bottom: 110px;
  width: calc(100% - 200px); /* Restar el ancho del menú abierto */
  overflow-x: hidden; /* Evitar el desplazamiento horizontal */
  margin-left: 0; /* Valor predeterminado */
  height: calc(100% - 310px); /* Restar el espacio de la parte superior e inferior */
}



/* Aplicar el margen izquierdo cuando el menú esté abierto */
.menu-abierto #map-container {
  margin-left: 200px;
}

