body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.filtro {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  top: 20px;
}

.filtro h3 {
  margin-bottom: 10px;
}

.filtro ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Hace que los elementos se alineen horizontalmente */
}

.filtro li {
  margin-right: 10px;
}

.filtro label {
  cursor: pointer;
  margin-right: 5px;
}
