.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.menu-button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-icon {
  width: 30px;
  height: 30px;
}

.menu {
  position: absolute;
  top: 50px;
  left: 10px;
  z-index: 1000;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.menu-abierto {
  display: block;
}

#map {
  flex: 1;
  height: 100%;
  width: 100%;
}



